<script>
    $(function () {
        $("#login_frm").submit(function (e) {
            e.preventDefault();
            var data = $(this).serialize();
            ars.post("<?= api_url("user_login") ?>", data, function (rsp) {
                console.log(rsp);
                if (rsp["is_logged"] && rsp["is_logged"] !== "false") {
                    ars.notif.success("<?= _e("Login success :)") ?>");
                } else {
                    if (rsp["error"])
                        ars_dialog.error(rsp["error"]);
                }
            });
        })
    });
</script>
<div class="page parallel">
    <div class="d-flex row">
        <div class="col-md-3 white">
            <div class="p-5 mt-5">
                <img src="<?= ars.base_url ?>admin/logo_all.png" alt=""/>
            </div>
            <div class="p-5">
                <h3>Welcome Back</h3>
                <p>Hey Soldier welcome back signin now there is lot of
                    new stuff waiting
                    for you</p>
                <form action="" id="login_frm">
                    <div class="form-group has-icon"><i class="icon-envelope-o"></i>
                        <input type="text" name="username" class="form-control form-control-lg" placeholder="<?= _e("Email address or phone number") ?>">
                    </div>
                    <div class="form-group has-icon"><i class="icon-user-secret"></i>
                        <input type="password" name="password" class="form-control form-control-lg" placeholder="<?= _e("Password") ?>">
                    </div>
                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="<?= _e("Login") ?>">
                </form>
            </div>
        </div>
        <div class="col-md-9  height-full blue accent-3 align-self-center text-center" data-bg-repeat="false"
             data-bg-possition="center"
             style="background: url('<?= ars.base_url ?>admin/logo_coin.png')">
        </div>
    </div>
</div>

